/* Font mulish all bold */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
*{
    background: #FFF;
    margin:0;
    font-family: 'Mulish', sans-serif;
}

:root{
    --heading-color:#131318;
    --paragraph-color:rgba(56, 56, 59, 0.7);
    --heading-font-size:3rem;
    --title-font-size:1.8rem;
    --paragraph-font-size:0.8rem;
    --heading-title-font-weight:800;
    --paragraph-font-weight:600;
    --btn-color:#FF5400;
}
.shared-span{
    color:var(--btn-color);
}
.btn-primary{
    padding:1rem 1.8rem;
    border:none;
    border-radius: 8px;
    color:#FFF;
    background-color: var(--btn-color);
    cursor:pointer;
    margin: 2rem 0;
    font-size: 1.2rem;
    font-weight: 700;
}
header{
    height:100vh;
}
nav{
    border:2px solid yellow;
   display: flex;
   justify-content: space-between;
   margin:5% 7%;
   align-items: center;
}
nav svg{
 display:none;
}
.nav-left{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color:var(--paragraph-color);
    font-weight: var(--paragraph-font-weight);
    font-size: var(--paragraph-font-size);
    padding:0 1rem;
}
nav ul{
    display: flex;

}
nav li{
    list-style: none;
}
/* Styles of Banner of header starts here */
.banner{
    margin:5% 7%;
    border:none;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13.png);
    background-size:cover;
    height:85vh;
    background-repeat: no-repeat;
    padding-top: 7rem;
   
    text-align: center;
    background-position: center;
    border-radius: 15px;
    color:#FFF;
}
.banner>.h1{
background: none;
font-weight: 800;
font-size: 3rem;
}
.banner>.p{
    background: none;
    font-size: var(--paragraph-font-size);
    font-weight: var(--paragraph-font-weight);
}
.banner-form{
    background:none;
    display: flex;
    justify-content: center;
    border-radius: 10px;
   
}
.banner-form input{
    background:linear-gradient(180deg, rgba(218, 218, 229, 0.8) 0%, rgba(19, 19, 24, 0.00) 100%);
   
    color:#FFF;
    font-weight: 700;
    padding: -3rem 0.5rem;
    margin:3rem 1rem;
    border: none;
    border-radius: 3rem;
}
.btn-primary>i{
   
    background: none;
    color:#FFF;
}
.popular-tours{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:7% 7%;
    justify-content: space-between;
    padding: 0%;
    align-items: center;
    border:1px solid green;
}
.popular-text-section{
    width:32rem;
    height:auto;
    border:1px solid black;
    
}
.popular-text-section>h3{
    font-size: 2.2rem;
    font-weight: 800;
    color:var(--heading-color);
}
.popular-text-section>p, .popular-text-section>ul{
    font-size: var(--paragraph-font-size);
    color:var(--paragraph-color);
    font-weight: var(--paragraph-font-weight);
}
.popular-text-section>p{
    padding-top: 1.5rem;
}
.popular-text-section li{
   padding-top: 1.5rem;
}
.popular-img-section{
    width:32rem;
    height: 33rem;
    background: url("../Images/Rectangle\ 4.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border:1px solid green;
    margin-right: 0%;
    margin-left: 2rem;

}
.destination{
    border:2px solid blue;
    margin:1% 7%;
    height:150vh;
    text-align: center;
    align-items: center;
}
.desti-title{
    background: none;
}
.desti-row1{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
}
#destination-place-maldives{
    background: url("../Images/Rectangle\ 5.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
}
#destination-place-indonesia{
    background-image:url("../Images/Rectangle\ 8.png") ;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
}
.desti-row2{
    display:flex;
    flex-direction: row;
    gap:1rem;
    margin-top: 1rem;
}
#destination-place-srilanka{
    background-image: url("../Images/Rectangle\ 6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
    width:calc(33vw - 0.666rem);
    border-radius: 1rem;
}
#destination-place-north-america{
    background-image: url("../Images/Rectangle\ 7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
    width:calc(38vw - 0.666rem);
    border-radius: 1rem;
}
#destination-place-kashmir{
    background-image: url("../Images/Rectangle\ 9.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
    width:calc(23vw - 0.666rem);
    border-radius: 1rem;
}
.desti-row3{
    display:flex;
    flex-direction: row;
    gap:1rem;
    margin-top: 1rem;
}
#destination-place-bangladesh{
    background-image: url("../Images/Rectangle\ 11.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
    width:calc(50vw - 8px);
    border-radius: 1rem;
}
#destination-place-bandarban{
    background-image: url("../Images/Rectangle\ 10.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
    width:calc(50vw - 8px);
    border-radius: 1rem;
}
.place{
    font-size: 1rem;
    font-weight: 800;
    background: none;
    border:2px solid black;
    color:#FFF;
}
@media screen and (max-width:576px) {
    nav ul{
        display:none;
    }
    nav svg{
        display: inline;
    }
    .popular-tours{
        margin:7% 7%;
        grid-template-columns: repeat(1,1fr);
    }
    .banner-form{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        
    }
    .banner-form input{
        margin:0.5rem ;
    }
    .banner .btn-primary{
        margin-left: 2rem;
        margin-right: 2rem;
    }
} 