/* Font mulish all bold */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
/* Shared & Universal Styles */
  *{
    background: #FFF;
    margin:0;
    font-family: 'Mulish', sans-serif;
}

:root{
    --heading-color:#131318;
    --paragraph-color:rgba(56, 56, 59, 0.7);
    --heading-font-size:3rem;
    --title-font-size:1.8rem;
    --paragraph-font-size:0.8rem;
    --heading-title-font-weight:800;
    --paragraph-font-weight:600;
    --btn-color:#FF5400;
}
.shared-span{
    color:var(--btn-color);
}
.btn-primary{
    padding:1rem 1.5rem;
    border:none;
    border-radius: 8px;
    color:#FFF;
    background-color: var(--btn-color);
    cursor:pointer;
    margin: 2rem 0;
    font-size: 1.2rem;
    font-weight: 700;
}
.btn-primary:hover{
   
    border:2px solid brown;
}
/* Header Styles Starts Here */
header{
    height:100vh;
}
nav{
 
   display: flex;
   justify-content: space-between;
   margin:2% 7%;
   align-items: center;
}
nav svg{
 display:none;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left h3{
    font-size: 1.5rem;
}
nav a{
    text-decoration: none;
    color:var(--paragraph-color);
    font-weight: var(--paragraph-font-weight);
    font-size: var(--paragraph-font-size);
    padding:0 1rem;
}
nav a:hover{
    font-size:1rem;
    
}
nav ul{
    display: flex;

}
nav li{
    list-style: none;
}
/* Styles of Banner of header starts here */
.banner{
    margin:5% 7%;
   
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13.png);
    background-size:cover;
    height:85vh;
    background-repeat: no-repeat;
    padding-top: 7rem;
    padding-bottom: 0;
   margin-bottom: 1rem;
    text-align: center;
    background-position: center;
    border-radius: 15px;
    color:#FFF;
}
.banner>.h1{
background: none;
font-weight: 800;
font-size: 3rem;
}
.banner>.p{
    background: none;
    font-size: var(--paragraph-font-size);
    font-weight: var(--paragraph-font-weight);
}
.banner-form{
    background:linear-gradient(180deg, rgba(218, 218, 229, 0.8) 0%, rgba(19, 19, 24, 0.00) 100%);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding:-2rem;
    margin-left:7rem;
    margin-right:7rem;
    margin-top: 2rem;
}
.banner-form select{
    background:#FFF;
   
    color: #75757f;
    font-weight: 700;
    padding: 1.5rem 2rem;
    margin:2rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
}
.btn-primary>i{
   
    background: none;
    color:#FFF;
}
/* Header Section Styles Ends Here
& Main Parts Styles Starts Here */
/* Section Popular Tours Styles */
.popular-tours{
   display: flex;
   flex-direction: row;
    margin:20% 7%;
    justify-content: space-between;
    padding: 0%;
    align-items: center;

}
.popular-text-section{
    width:50%;
    height:45vh;

    
}
.popular-text-section>h3{
    font-size: 2.2rem;
    font-weight: 800;
    color:var(--heading-color);
}
.popular-text-section>p, .popular-text-section>ul{
    font-size: var(--paragraph-font-size);
    color:var(--paragraph-color);
    font-weight: var(--paragraph-font-weight);
}
.popular-text-section>p{
    padding-top: 1.5rem;
}
.popular-text-section li{
   padding-top: 1.5rem;
}
.popular-img-section{
    width:50%;
    height: 45vh;
    background: url("../Images/Rectangle\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 0%;
    margin-left: 2rem;
    border-radius: 1rem;

}
/* Section Destination Styles */
.destination{
 
    margin:1% 7%;
    height:150vh;
    text-align: center;
    align-items: center;
}
.desti-title{
    margin:3rem auto;
}
.desti-title>h2{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.desti-row1{
    display:flex;
    flex-direction: row;
    gap:1rem;
    margin-top: 1rem;
}
#destination-place-maldives{
    background: url("../Images/Rectangle\ 5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
    width:50%;
    border-radius: 1rem;
}
#destination-place-indonesia{
    background-image:url("../Images/Rectangle\ 8.png") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
    width:50%;
    border-radius: 1rem;
}
.desti-row2{
    display:flex;
    flex-direction: row;
    gap:1rem;
    margin-top: 1rem;
}
#destination-place-srilanka{
    background-image: url("../Images/Rectangle\ 6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
    width:calc(33vw - 0.666rem);
    border-radius: 1rem;
}
#destination-place-north-america{
    background-image: url("../Images/Rectangle\ 7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
    width:calc(38vw - 0.666rem);
    border-radius: 1rem;
}
#destination-place-kashmir{
    background-image: url("../Images/Rectangle\ 9.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
    width:calc(23vw - 0.666rem);
    border-radius: 1rem;
}
.desti-row3{
    display:flex;
    flex-direction: row;
    gap:1rem;
    margin-top: 1rem;
}
#destination-place-bangladesh{
    background-image: url("../Images/Rectangle\ 11.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
    width:calc(50vw - 8px);
    border-radius: 1rem;
}
#destination-place-bandarban{
    background-image: url("../Images/Rectangle\ 10.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:45vh;
    width:calc(50vw - 8px);
    border-radius: 1rem;
}
.place{
    font-size: 1rem;
    font-weight: 800;
    background: none;
    display: flex;
    align-content: center;
    justify-content: center;
    color:#FFF;
    
    margin-top: 8rem;

}
/* Section Why Choose Us Styles */
.why-choose-us{
    margin:10% 20%;
    justify-content: center;
}
.why-choose-us-head{
    width:100%;
 
    text-align: center;
}
.why-choose-us-head .shared-title{
    font-size:1.5rem;
    font-weight: var(--heading-title-font-weight);

    
}
.why-choose-us-head p{
    margin:1rem 0rem;
    font-size: var(--paragraph-font-size);
    color:#3f3f46;
}
.hotel{
    border:none;
    background-color: rgb(226, 241, 211);
    border-radius: 1rem;
    width:50%;
    height:30vh;
    margin:1rem;
    padding:1rem;
}
.service{
    border:none;
    background-color: rgb(240, 228, 213);
    border-radius: 1rem;
    width:50%;
    margin:1rem;
    height:30vh;
    padding:1rem;
}
.price-container{
    width:100%;
   
    display: flex;
    justify-content: center;
}
.price{
    border:none;
    background-color: rgb(179, 200, 247);
    border-radius: 1rem;
    width:50%;
    margin:1rem;
    height:30vh;
    padding:1rem;
}
.hotel p, .service p, .price p{
    font-size: var(--paragraph-font-size);
    color:#323237;
}
.hotel h3, .hotel img, .hotel p{
    background: none;
}
.service img, .service h3, .service p{
    background: none;
}
.price img, .price h3, .price p{
    background: none;
}
.benefit-hotel-service{
    display: flex;
    width:100%;
    margin: 0%;
}
/* Bonus Unique Section Styles*/
.bonus-unique-section{
    margin:0% 15% 8% 15%; 
}
.bonus-headings{
 
    display: flex;
    flex-direction: column;
    text-align: center;
}
.bonus-unique-section h3{
    font-weight: var(--heading-title-font-weight);
    font-size: 1.5rem;
}
.btn-france{
    margin:0.3rem 40%;
    border:none;
    background-color: #FF5400;
    color:#FFF;
    font-weight: var(--paragraph-font-weight);
    border-radius: 1rem;
    padding:0.5rem;
}
.btn-france:hover{
  border:2px solid brown;
}
.gallery{
    display:flex;
    flex-direction: row;
    

}
.gallery img{
    width:100%;
    border-radius: 1rem;
    margin:1rem;
   
}
.gallery img:hover{
    width:33vw;
    height:40vh;
   
    position:sticky;
}
/* Footage Section Styles */
.footage{
    margin:5% 15%;
    display: flex;

}
.footage-text{
    padding-top: 3rem;
}
footage-text-container{
    width:50%;
    align-items: center;
    border: 2px solid black;
    display: flex;
   
}
.footage-text h3{
    font-size: 2rem;
    font-weight: var(--heading-title-font-weight);
}
.footage p, .footage li{
    font-size: var(--paragraph-font-size);
    color:#3f3f46;
    margin-top: 0.5rem;
}
.footage-clip{
    width:50%;
    padding:0;
}
.footage-clip iframe{
    border-radius: 1rem;
}
/* Subscription Section Styles */
.subscription{
    display: flex;
    margin:5% 15%;
    height:50vh;
}
.subscribe-form{
    width:42%;
    margin-right: 2%;
    border-radius: 1rem;
    border:1px solid #FF5400;
    padding:1rem;
}
.subscribe-form p{
    font-size: var(--paragraph-font-size);
    font-weight: var(--paragraph-font-weight);
    color:#3f3f46;
}
.subscribe-form hr{
margin:1rem 0 ;
color:#808086;
}
.subscribe-form input{
    border:none;
    border-radius: 0.5rem;
    padding:0.7rem 5.7rem;
    background-color: antiquewhite;
    margin-top: 0.5rem;
}
.subscribe-form .btn-primary{
    padding:auto 3rem;
    width:100%;
}
.seventy-off{
    background-image: url("../Images/Rectangle\ 8\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    width:57%;
}
.seventy-off .btn-primary{
    font-size: var(--paragraph-font-size);
    font-weight: var(--paragraph-font-weight);
    
    transform: rotate(-20deg);
    margin-left: 1rem;
}
/* Footer Section Styles */
footer {
    margin:5% 7%;
    text-align: center;
}
.footer-link{
   
    display: flex;
    margin-bottom:1.5rem ;
    justify-content: center;
}
.link-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:1.5rem ;
}    
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:1.5rem ;
}
footer hr{
    color:rgba(117, 117, 121, 0.7);
    margin-bottom: 1rem;
}
code{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    font-weight: 600;
    width: 100%;
  
}
/*Responsive Section Styles  */
/* Styles for mobile devices */
@media screen and (max-width:576px) {
    nav ul{
        display:none;
    }
    nav svg{
        display: inline;
    }
    
    .popular-tours{
        display: flex;
        flex-direction: column-reverse;
        margin:5% 7%;
        padding: 0%;
        align-items: center;
    }
    .popular-text-section{
        width:100%;
        height:45vh;
        margin:1rem 7%;
         }
    .popular-img-section{
        width:100%;
        height: 40vh;
        margin:1rem 7%;
    }    
    .banner-form{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        
    }
    .banner-form input{
        margin:0.5rem ;
    }
    .banner .btn-primary{
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .destination{
 
        margin:1% 7%;
        height:max-content;
        text-align: center;
        align-items: center;
    }
    .desti-row1{
       flex-direction: column;
    }
    #destination-place-maldives{
        height:35vh;
        width:100%;
    }
    #destination-place-indonesia{
        height:35vh;
        width:100%;
       }
    .desti-row2{
        flex-direction: column;
    }
    #destination-place-srilanka{
        height:35vh;
        width:100%;
        }
    #destination-place-north-america{
        height:35vh;
        width:100%;
       }
    #destination-place-kashmir{
        height:35vh;
        width:100%;
       }
       .desti-row3{
        display:flex;
        flex-direction: column;
        }
        #destination-place-bangladesh{
            height:35vh;
            width:100%;
           }
        #destination-place-bandarban{
            height:35vh;
            width:100%;
            }
            .why-choose-us{
                margin:7% 7%;
                justify-content: center;
            }
            .benefit-hotel-service{
                display: flex;
                flex-direction: column;
                margin-right: 10%;
            }
            .hotel{
                width:100%;
                height:30vh;
            }
            .service{
                width:100%;
                height:30vh;
            }
            .price-container{
                width:100%;
               
                display: flex;
                justify-content: center;
            }
            .price{
                border:none;
                background-color: rgb(179, 200, 247);
                border-radius: 1rem;
                width:50%;
                margin:1rem;
                height:30vh;
                padding:1rem;
            }
} 